<aside class="sidebar" aria-label="Основная навигация">
    <a class="sidebar__brand" href="{% url 'home' %}">
        <span class="sidebar__mark">К</span>
        <span>Экосистема качества</span>
    </a>
    <nav class="sidebar__nav">
        <a class="sidebar__link sidebar__link--active" href="{% url 'home' %}">Главная</a>
        <span class="sidebar__link sidebar__link--disabled">Акты</span>
        <span class="sidebar__link sidebar__link--disabled">Протоколы</span>
        <span class="sidebar__link sidebar__link--disabled">Задачи</span>
        <span class="sidebar__link sidebar__link--disabled">Несоответствия</span>
    </nav>
</aside>
